[package]
name = "tangram_client"

description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[features]
default = ["tls"]
tls = ["dep:rustls", "dep:tokio-rustls", "dep:webpki-roots"]

[lints]
workspace = true

[dev-dependencies]
proptest = { workspace = true }

[dependencies]
async-compression = { workspace = true }
blake3 = { workspace = true }
bytes = { workspace = true }
data-encoding = { workspace = true }
data-encoding-macro = { workspace = true }
derive_more = { workspace = true }
either = { workspace = true }
fastcdc = { workspace = true }
fnv = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true }
hyper-util = { workspace = true }
include_dir = { workspace = true }
indoc = { workspace = true }
itertools = { workspace = true }
lsp-types = { workspace = true }
mime = { workspace = true }
num = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
rustls = { workspace = true, optional = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_urlencoded = { workspace = true }
serde_with = { workspace = true }
sha2 = { workspace = true }
tar = { workspace = true }
tempfile = { workspace = true }
tangram_error = { workspace = true }
tangram_sse = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tokio-rustls = { workspace = true, optional = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
urlencoding = { workspace = true }
uuid = { workspace = true }
webpki-roots = { workspace = true, optional = true }
xattr = { workspace = true }
zip = { workspace = true }
