*.pending-snap
.DS_Store
/.claude
/.config/*
!/.config/nextest.toml
/.tangram
/.venv
/.ruff_cache
/packages/clients/javascript/dist
/packages/clients/python/.venv
/packages/clients/python/.ruff_cache
/packages/clients/python/src/tangram/_native*.so
__pycache__
/packages/typescript/dist
/release
/target
node_modules
