[workspace]
default-members = ["packages/cli"]
members = [
  "packages/cli",
  "packages/client",
  "packages/error",
  "packages/language",
  "packages/runtime",
  "packages/server",
  "packages/util",
  "packages/vfs",
]
resolver = "2"

[workspace.package]
authors = ["Tangram <root@tangram.dev"]
description = "Tangram is a programmable build system and package manager."
edition = "2021"
homepage = "https://www.tangram.dev"
license = "MIT"
repository = "https://github.com/tangramdotdev/tangram"
version = "0.0.0"

[workspace.lints.clippy]
pedantic = "warn"
items_after_statements = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
missing_safety_doc = "allow"
too_many_lines = "allow"

[workspace.dependencies]
async-compression = { version = "0.4", features = ["all"] }
async-recursion = "1"
async-trait = "0.1"
bitflags = "2"
blake3 = "1"
bytes = { version = "1", features = ["serde"] }
clap = { version = "4", features = ["derive", "env"] }
crossterm = "0.27"
data-encoding = "2"
data-encoding-macro = "0.1"
derive_more = { version = "1.0.0-beta.6", features = ["full"] }
either = { version = "1", features = ["serde"] }
filetime = "0.2"
fnv = "1"
futures = "0.3"
http = "1"
http-body = "1"
http-body-util = "0.1"
hyper = { version = "1", features = ["full"] }
hyper-util = { version = "0.1", features = ["server-auto", "tokio"] }
im = "15"
include_dir = "0.7"
indoc = "2"
itertools = "0.12"
libc = "0.2"
lsp-types = { version = "0.95" }
mime = "0.3"
notify = "6"
num = "0.4"
num-derive = "0.4"
num-traits = "0.2"
oauth2 = "4"
octocrab = "0.33"
once_cell = "1"
pin-project = "1"
proptest = "1"
rand = "0.8"
ratatui = "0.25"
regex = "1"
reqwest = { version = "0.11", default-features = false, features = [
  "json",
  "stream",
  "rustls-tls",
] }
rusqlite = { version = "0.30", features = ["blob", "bundled"] }
rustls = "0.22"
rustls-pemfile = "2"
rustls-pki-types = "1"
semver = "1"
serde = { version = "1", features = ["rc", "derive"] }
serde_json = "1"
serde_urlencoded = "0.7"
serde_v8 = { version = "0.165" }
serde_with = "3"
serde_yaml = { version = "0.9" }
sha2 = "0.10"
sourcemap = "7"
swc_core = { version = "0.89", features = [
  "common",
  "common_sourcemap",
  "ecma_ast",
  "ecma_codegen",
  "ecma_parser",
  "ecma_parser_typescript",
  "ecma_transforms",
  "ecma_transforms_module",
  "ecma_transforms_typescript",
  "ecma_visit",
] }
tangram_cli = { path = "packages/cli" }
tangram_client = { path = "packages/client" }
tangram_error = { path = "packages/error" }
tangram_language = { path = "packages/language" }
tangram_runtime = { path = "packages/runtime" }
tangram_server = { path = "packages/server" }
tangram_util = { path = "packages/util" }
tangram_vfs = { path = "packages/vfs" }
tar = { version = "0.4" }
tempfile = "3"
thiserror = "1"
time = { version = "0.3", features = ["formatting", "parsing", "serde"] }
tokio = { version = "1", features = ["full"] }
tokio-postgres = { version = "0.7", features = ["runtime", "with-serde_json-1"] }
tokio-rustls = "0.25"
tokio-stream = { version = "0.1", features = ["full"] }
tokio-util = { version = "0.7", features = ["full"] }
toml = { version = "0.8" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
unicode-segmentation = "1.10.1"
unicode-width = "0.1.11"
url = { version = "2", features = ["serde"] }
urlencoding = "2"
uuid = { version = "1", features = ["v7"] }
v8 = { version = "0.83" }
webbrowser = "0.8"
webpki-roots = "0.26"
xattr = { version = "1" }
zerocopy = { version = "0.7", features = ["derive"] }
zip = { version = "0.6", default-features = false, features = [
  "aes-crypto",
  "deflate",
  "bzip2",
  "time",
] }

[profile.dev.package.blake3]
opt-level = 3
overflow-checks = false

[profile.dev.package.bzip2]
opt-level = 3
overflow-checks = false

[profile.dev.package.digest]
opt-level = 3
overflow-checks = false

[profile.dev.package.flate2]
opt-level = 3
overflow-checks = false

[profile.dev.package.sha2]
opt-level = 3
overflow-checks = false

[profile.dev.package.tar]
opt-level = 3
overflow-checks = false

[profile.dev.package.xz2]
opt-level = 3
overflow-checks = false

[profile.dev.package.zip]
opt-level = 3
overflow-checks = false

[profile.dev.package.zstd]
opt-level = 3
overflow-checks = false
