[package]
name = "tangram_session"
authors.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
libc = { workspace = true }
num = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde-untagged = { workspace = true }
tangram_client = { workspace = true }
tangram_futures = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
