[package]
name = "tangram_server"

description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[lints]
workspace = true

[features]
foundationdb = ["tangram_index/foundationdb"]
js = ["dep:tangram_js"]
lmdb = ["tangram_index/lmdb", "tangram_store/lmdb"]
nats = ["dep:async-nats", "tangram_messenger/nats"]
postgres = ["dep:tokio-postgres", "tangram_database/postgres"]
quickjs = ["tangram_js/quickjs"]
sqlite = ["dep:rusqlite", "tangram_database/sqlite"]
scylla = ["tangram_store/scylla"]
typescript = ["tangram_compiler/typescript"]
v8 = ["tangram_js/v8"]

[dependencies]
async-broadcast = { workspace = true }
async-channel = { workspace = true }
async-nats = { workspace = true, optional = true }
byteorder = { workspace = true }
bytes = { workspace = true }
crossterm = { workspace = true }
dashmap = { workspace = true }
data-encoding = { workspace = true }
data-encoding-macro = { workspace = true }
derive_more = { workspace = true }
fastcdc = { workspace = true }
filetime = { workspace = true }
fnv = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true }
hyper-util = { workspace = true }
im = { workspace = true }
indexmap = { workspace = true }
indoc = { workspace = true }
itertools = { workspace = true }
libc = { workspace = true }
mime = { workspace = true }
moka = { workspace = true }
notify = { workspace = true }
num = { workspace = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
oauth2 = { workspace = true }
octocrab = { workspace = true }
petgraph = { workspace = true }
reflink-copy = { workspace = true }
reqwest = { workspace = true }
rusqlite = { workspace = true, optional = true }
scopeguard = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
smallvec = { workspace = true }
sync_wrapper = { workspace = true }
tangram_builtin = { workspace = true }
tangram_client = { workspace = true }
tangram_compiler = { workspace = true }
tangram_database = { workspace = true }
tangram_futures = { workspace = true }
tangram_http = { workspace = true }
tangram_ignore = { workspace = true }
tangram_index = { workspace = true }
tangram_js = { workspace = true, optional = true }
tangram_messenger = { workspace = true }
tangram_serialize = { workspace = true }
tangram_session = { workspace = true }
tangram_store = { workspace = true }
tangram_uri = { workspace = true }
tangram_util = { workspace = true }
tangram_vfs = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tokio-postgres = { workspace = true, optional = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tower = { workspace = true }
tower-http = { workspace = true }
tracing = { workspace = true }
unicode-width = { workspace = true }
uuid = { workspace = true }
xattr = { workspace = true }
