[package]
name = "tangram_server"

description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[lints]
workspace = true

[build-dependencies]
data-encoding = { workspace = true }
glob = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
tar = { workspace = true }
v8 = { workspace = true }
zstd = { workspace = true }

[dev-dependencies]
proptest = { workspace = true }
insta = { workspace = true }

[dependencies]
async-broadcast = { workspace = true }
async-channel = { workspace = true }
async-compression = { workspace = true }
async-nats = { workspace = true }
biome_js_formatter = { workspace = true }
biome_js_parser = { workspace = true }
biome_js_syntax = { workspace = true }
byte-unit = { workspace = true }
bytes = { workspace = true }
dashmap = { workspace = true }
data-encoding = { workspace = true }
data-encoding-macro = { workspace = true }
derive_more = { workspace = true }
fastcdc = { workspace = true }
filetime = { workspace = true }
fnv = { workspace = true }
futures = { workspace = true }
globset = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true }
hyper-util = { workspace = true }
im = { workspace = true }
include_dir = { workspace = true }
indexmap = { workspace = true }
indoc = { workspace = true }
itertools = { workspace = true }
libc = { workspace = true }
lsp-types = { workspace = true }
mime = { workspace = true }
moka = { workspace = true }
notify = { workspace = true }
num = { workspace = true }
oauth2 = { workspace = true }
octocrab = { workspace = true }
once_cell = { workspace = true }
petgraph = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
rusqlite = { workspace = true }
scopeguard = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
serde_yaml = { workspace = true }
sourcemap = { workspace = true }
swc_core = { workspace = true }
sync_wrapper = { workspace = true }
tangram_client = { workspace = true }
tangram_database = { workspace = true }
tangram_either = { workspace = true }
tangram_futures = { workspace = true }
tangram_http = { workspace = true }
tangram_ignore = { workspace = true }
tangram_messenger  = { workspace = true }
tangram_temp = { workspace = true }
tangram_v8 = { workspace = true }
tangram_version = { workspace = true }
tangram_vfs = { workspace = true }
tar = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tokio-postgres = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
urlencoding = { workspace = true }
uuid = { workspace = true }
v8 = { workspace = true }
xattr = { workspace = true }
zip = { workspace = true }
