[package]
name = "tangram_sandbox"
authors.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
bytes = { workspace = true }
clap = { workspace = true }
indoc = { workspace = true }
libc = { workspace = true }
num = { workspace = true }
