[package]
name = "tangram_error"

description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false
repository = { workspace = true }
version = { workspace = true }

[lints]
workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
tangram_error_macros = { workspace = true }
